
--index-url https://pypi.org/simple
imageio 
imageio-ffmpeg  
easydict 
opencv-python-headless 
rembg 
trimesh 
xatlas 
pyvista
plyfile
pymeshfix==0.17.0
igraph

--find-links https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.5.1_cu124.html
kaolin
